@page "/permisos/details"
@using Microsoft.EntityFrameworkCore
@using NTI.INV
@inject IDbContextFactory<DBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Permisos</h2>
    <hr />
    @if (permisos is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">TipoPermiso</dt>
            <dd class="col-sm-10">@permisos.TipoPermiso</dd>
        </dl>
        <div>
            <a href="@($"/permisos/edit?idpermisos={permisos.IdPermisos}")">Edit</a> |
            <a href="@($"/permisos")">Back to List</a>
        </div>
    }
</div>

@code {
    private Permisos? permisos;

    [SupplyParameterFromQuery]
    private string IdPermisos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        permisos = await context.Permisos.FirstOrDefaultAsync(m => m.IdPermisos == IdPermisos);

        if (permisos is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
