@page "/permisos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using WEB.INT
@implements IAsyncDisposable
@inject IDbContextFactory<DBContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="permisos/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Permisos">
    <PropertyColumn Property="permisos => permisos.TipoPermiso" />

    <TemplateColumn Context="permisos">
        <a href="@($"permisos/edit?idpermisos={permisos.IdPermisos}")">Edit</a> |
        <a href="@($"permisos/details?idpermisos={permisos.IdPermisos}")">Details</a> |
        <a href="@($"permisos/delete?idpermisos={permisos.IdPermisos}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
